<footer class="py-5">
    <div class="container">
        <div class="row align-items-center justify-content-xl-between">
            <div class="col-xl-6">
                <div class="copyright text-center text-xl-left text-muted">
                    &copy; 2020
                    <a href="https://as3engenharia.com.br/" class="font-weight-bold ml-1" target="_blank">AS3 Engenharia</a>
                </div>
            </div>
            <div class="col-xl-6">
                <ul class="nav nav-footer justify-content-center justify-content-xl-end">
                    <li class="nav-item">
                        <a href="https://as3engenharia.com.br/" class="nav-link" target="_blank">AS3 Engenharia</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://as3engenharia.com.br/sobre-a-as3/" class="nav-link" target="_blank">Sobre nós</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>